
*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: rgb(228, 228, 228);
}

a{
  color: rgb(44, 44, 44);
  font-size: 18px;
}

a:hover{
  color: black;
  text-decoration-color: rgb(189, 14, 72) !important;
  text-decoration-line: underline !important;
  text-decoration-style: 18px !important;
}

.laine-dimer{
  top:30%;
  left: 20%;
  position: absolute;
}

.laine-dimer h1{
  font-size: 86px !important;
  font-weight: bold;
}
