*{
  height: 100%;
}

.container-fluid{
  padding: 0;
}

#home{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(img/fundo.png);
}

.menu{
  height: auto;
}

.navbar-nav{
  width: 100%;
}

.nav-item{
  margin-right: 5%;
}

a{
  color:rgb(228, 228, 228) !important;
  font-size: 22px;
}

.nav-link:hover{
  color:rgb(228, 228, 228);
}

.laine-dimer h1{
  top:50%;
  left:18%;
  position: absolute;
  color:rgb(228, 228, 228);
}

.laine-dimer h2{
  top:70%; 
  left:18%; 
  position: absolute;  
  color:rgb(228, 228, 228);
}

h1{
  font-size:13.80vh!important;
}

h1, a{
  font-family: 'Oswald', sans-serif;
}

h2, p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5.17vh;
  color: #333333;
}
#about-me{
  height: auto;
}
#about-me h1{
  height: auto;
  text-align: center;
  color: #999999;  
}

#about-me p{
  color: #333333;
}
.box-about{
  margin-right: 100%;
}

.box-about p{
  text-align: left;
}

.img-perfil{
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */
  max-width: 100%;
  height: auto;
}

#skills-interests{
  height: auto; 
}

.skills-content{
  text-align: center;
}

.skills-content, .experience-content, h1{
  color: #999999;
  text-align: center;
}

.skills-content p{
  color: #333333; 
}

@media screen and (min-width: 800px) {
  
  .box-lf{
    padding: 6%  6%  6% 6%;
  }
  #skills{
    margin-top: 28%;
  }
  #interests{
    opacity: 0;
    margin-top: -45.5%;
  }
 
  .box-center{
    top: 50%;
    left: 33%;
  }
  
  .box-btn{
    top: 50%;
    left: 20%;
  }
  .btn-style{
    border: none;  
    position: absolute;
    width: 227px;
    height: 80px;
    top: 10%;
    background: #999999;
    border-radius: 20px;
    font-family: Oswald;
    font-size:5.17vh;
    line-height: 53px;
    color: #FFFFFF;
  }

  .icons{
    left:20%;
    top: 54%;
    position: absolute;
    width: auto;
    height: auto;
  }
  
  .box-lf{
    left:15%;
  }
  .box-rg{
    margin-top:10%
  }

  .box-icon{
    padding: 10%;
    top:4%;
  }

}

@media screen and (max-width: 500px){
  .box-lf{
    padding:15%  15%  15% 15%;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.skills-content h1, p{
  height: auto;
}

h4,h5{
  font-size: 5.17vh;
  height: auto;
  color: #333333;
}

#experience{
  height: auto;
}

#experience h1{ 
  text-align: center; 
}

#experience p{
  color:#333333;
  margin: 0;
  font-size: 2.6vh;
}

.btn-style{
  border: none;  
  position: absolute;
  width: auto;
  height: auto;
  background: #999999;
  border-radius: 20px;
  font-family: Oswald;
  font-size: 5.17vh;
  line-height: 53px;
  color: #FFFFFF;
}
.oblique{
  font-style: oblique;
}

#contact{
  background: #333333;
}

#contact h1{
  color: #FFFFFF;
  height: auto;
  text-align: left;
}

#contact p{
  color: #FFFFFF;
  height: auto;
  text-align: left;
}
.contact-content .row .col-sm-6 p{
  left:50%;
}

.icon{
  font-size: 10vh;
}

.icons a:hover{
  color:#999999;
}

.col-sm-6{
  height: auto;
}

/* Timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #cccccc;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 30px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #333333;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
